{{#if showModal}}
  <div class="verifiable-credentials-homepage-presentation-modal">
    {{credential-presentation-button resources=resources}}
    <ul>
      {{#each resourceDescriptions as |description|}}
        <li>{{d-icon description.icon}}<span>{{description.text}}</span></li>
      {{/each}}
    </ul>
  </div>
{{/if}}
