{{#d-section pageClass="user-credentials" class="user-secondary-navigation" scrollTop="false"}}
  {{#mobile-nav
    class="activity-nav"
    desktopClass="action-list nav-stacked"
    currentPath=router._router.currentPath
  }}
    <li>
      {{#link-to "user.credentials.records"}}
        {{i18n "verifiable_credentials.user.records.label"}}
      {{/link-to}}
    </li>
  {{/mobile-nav}}
{{/d-section}}

<section class="user-content">
  {{outlet}}
</section>
