<div id='simple-container'>
  <h2><%= I18n.t('verifiable_credentials.error', error: error) %></h2>
  <br/>

  <%= link_to I18n.t('verifiable_credentials.error_return'), Discourse.base_url, class: 'btn' %>
</div>
