.group-membership-button {
  display: inline;
  vertical-align: top;

  + .inline {
    display: inline;
    vertical-align: top;
  }
}

.control-group.verifiable-credentials {
  > div {
    margin-bottom: 0.5em;
  }

  .simple-list {
    width: 530px;
  }
}

.verifiable-credentials-message {
  min-width: 520px;
  min-height: 100px;
}

.verifiable-credentials-presentation-modal {
  .modal-body {
    max-width: 500px;
  }

  .qr-container {
    display: flex;
    justify-content: center;

    .qr-code {
    }
  }
}

.verifiable-credentials-header-panel {
  background: var(--secondary);

  .verifiable-credentials-presentation-button .btn {
    width: 100%;
  }

  ul {
    margin: .5em 0;

    li {
      background-color: var(--primary-very-low);
      padding: 0.5em 1em;

      span {
        white-space: nowrap;
      }
    }

    .d-icon {
      margin-right: 0.5em;
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    font-size: .9em;
    margin-top: 0.5em;
  }
}

.discourse-verifiable-credentials-user-table {
  width: 100%;

  th.message,
  td.message {
    width: 280px;
    box-sizing: border-box;
    padding: 14px;
  }

  td {
    padding: 0.5em;
  }
}

.resource-list {
  position: relative;

  ul {
    position: absolute;
    list-style: none;
    background-color: var(--primary-very-low);
    border-top: 1px solid var(--primary-low);
    box-shadow: shadow("dropdown");
    margin: 0;
    padding: 0.5em;
    top: 35px;
    z-index: 1;

    li:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }
}

.resource-label {
  padding: 0.25em 0.5em;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  color: $danger;
  background-color: rgba($danger, 0.1);
  border: 1px solid rgba($danger, 0.5);

  &.verified {
    color: $success;
    background-color: rgba($success, 0.1);
    border: 1px solid rgba($success, 0.5);
  }

  .name {
    margin: 0 0.5em;
    white-space: nowrap;
  }
}
