.group-membership-button {
  display: inline;
  vertical-align: top;
  
  + .inline {
    display: inline;
    vertical-align: top;
  }
}

.control-group.verifiable-credentials > div {
  margin-bottom: .5em;
}

.verifiable-credentials-message {
  min-width: 520px;
  min-height: 100px;
}

.vc-present-modal {
  .modal-body {
    max-width: 500px;
  }

  .qr-container {
    display: flex;
    justify-content: center;
  }
  
  #qr-code {
    padding: 2em;
    border: 1px solid black;
    margin: 2em 0;
  }
}